
/* #bodyContent{
  color: transparent;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
} */
.description{
  color: transparent;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.expand-child{
  color: transparent;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
